@import url('../../css/variables.css');

.container {
	display: flex;

	justify-self: flex-end;
}

.containerCombination {
	display: flex;
	margin-right: var(--space-sm);
}

.space {
	margin-right: var(--space-lg);
}
