@import url('../../css/variables.css');

.primaryContent {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}

.secondaryContent {
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
}