@import url('../../css/variables.css');

.container {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.containerIcon {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 48px;
	width: 48px;
	border-radius: 100%;

	background-color: var(--color-variety-main-tiny-shadow);

	margin-right: var(--space-sm);
}

.title {
	font-family: var(--font-primary);
	font-size: var(--font-size-xs);
	font-weight: bold;
	color: var(--color-variety-main);
	white-space: nowrap;
}

.container:hover {
	opacity: var(--opacity-selecting);
}

.container:active {
	opacity: var(--opacity-selected);
}
