@import url('../../css/variables.css');

.group {
  display: none;
}

.groupSelects {
  display: flex;
  gap: var(--space-md);
}

@media screen and (max-width: 1050px) {
  .table {
    display: none;
  }

  .group {
    display: block;
  }
}