@import url('../../css/variables.css');

#gradient {
}

.primaryStop {
	stop-color: var(--color-active-secundary);
}

.secondaryStop {
	stop-color: var(--color-active-main);
}

.design {
	fill-rule: evenodd;
}
