@import url('../../css/variables.css');

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: var(--space-md);
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nameCoin {
  font-size: var(--font-size-lg);
  color: var(--color-active-main);
  font-weight: bold;
}

.idCoin {
  font-size: var(--font-size-xxs);
  color: var(--color-active-main-shadow);
}