{
    "parser": "babel-eslint",
    "extends": ["airbnb"],
    "rules": {
        "semi": "off",
        "linebreak-style": 0,
        "import/no-unresolved": "off",
        "import/extensions": [0, { "js": "never", "tsx": "never", "ts": "never" }],
        "react/jsx-filename-extension": "off",
        "import/prefer-default-export": "off",
        "react/jsx-props-no-spreading": "off",
        "no-undef": "off",
        "react/destructuring-assignment": ["off", "never"],
        "react/button-has-type": 0,
        "jsx-a11y/label-has-associated-control": 0
    }
}