@import url('../../css/variables.css');

.tab {
  border-radius: var(--border-radius-standard);
  text-decoration: none;
  padding: var(--space-xs);
  color: var(--color-variety-main);
  font-size: var(--font-size-md);
}

.tabActive {
  background-color: var(--color-variety-main-tiny-shadow);
  color: var(--color-active-main);
}

.tab:hover {
  opacity: var(--opacity-selecting);
  background-color: var(--color-variety-main-tiny-shadow);
}

.tab:active {
  opacity: var(--opacity-selected);
}