@import url('../../css/variables.css');

.inherit {
	display: flex;
	align-items: center;
	justify-content: center;

	font-family: var(--font-primary);
	cursor: pointer;
}

.inherit:hover {
	opacity: var(--opacity-selecting);
}

.inherit:active {
	opacity: var(--opacity-selected);
}

.normal {
	color: var(--color-primary);
	font-weight: bold;
	width: 100%;

	min-height: 48px;
	border-radius: 24px;

	background-color: var(--color-secondary);
	border: solid 1px var(--color-fortuary);
	font-size: var(--font-size-sm);
}

.simple {
	border-radius: 6px;
	min-height: 48px;

	background-color: var(--color-variety-main-tiny-shadow);
	border: none;
	color: var(--color-variety-main-shadow);
	font-size: var(--font-size-sm);

	padding: 0 var(--space-md);
}

.minimal {
	font-size: var(--font-size-xxs);
	border: none;
	color: var(--color-active-secundary);
	background-color: transparent;
}
