@import url('../../css/variables.css');

.button {
  cursor: pointer;
  font-family: var(--font-primary);
  font-size: var(--font-size-sm);
  color: var(--color-primary);
  font-weight: bold;
  width: 100%;

  min-height: 48px;
  border-radius: 24px;

  background-color: var(--color-secondary);
  border: solid 1px var(--color-fortuary);
}

.button:hover {
  opacity: var(--opacity-selecting);
}

.button:active {
  opacity: var(--opacity-selected);
}