@import url('../../css/variables.css');

.container {
	position: relative;
	z-index: 1;
}

.children {
	cursor: pointer;
}

.children:hover {
	opacity: var(--opacity-selecting);
}

.children:active {
	opacity: var(--opacity-selected);
}
