@import url('../../css/variables.css');

.integer {
	color: var(--color-variety-main);
}

.decimal {
	color: var(--color-variety-main-shadow);
}

.smallInteger {
	font-size: var(--font-size-xs);
}

.smallDecimal {
	font-size: var(--font-size-xxxs);
}

.mediumInteger {
	font-size: var(--font-size-xl);
}

.mediumDecimal {
	font-size: var(--font-size-sm);
}

.largeInteger {
	font-size: var(--font-size-xxl);
}

.largeDecimal {
	font-size: var(--font-size-md);
}
