@import url('../../css/variables.css');

.container {
	display: flex;
}

.containerReceive {
	flex: 1;
}

.containerSend {
	flex: 1;
	margin-left: var(--space-lg);
}

@media screen and (max-width: 1250px) {
	.container {
		flex-direction: column;
	}

	.containerSend {
		margin: 0;
	}
}
