@import url('../../css/variables.css');

.loaderMessage {
  margin-top: var(--space-md);
  color: var(--color-variety-main);
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
}