@import url('../../css/variables.css');

.container {
	width: 335px;

	display: flex;
	flex-direction: column;
}

.title {
	font-family: var(--font-primary);
	font-size: var(--font-size-xxl);
	color: var(--color-thirteenth);
	margin-bottom: var(--space-lg);
}
