@import url('../../css/variables.css');

.container {
	position: relative;
}

.simpleSelected {
	display: flex;
	border-radius: var(--border-radius-standard);
}

.filledSelected {
	background-color: var(--color-variety-main-tiny-shadow);
	border-radius: var(--border-radius-standard);

	display: flex;
	padding: 0 var(--space-sm);
}

.outlinedSelected {
	background-color: none;
	border: solid 1px var(--color-passive-pager);
	border-radius: 4px;
	padding: var(--space-xxxs) var(--space-md);
}

.commonOption:hover {
	opacity: var(--opacity-selecting);
}

.commonOption:active {
	opacity: var(--opacity-selected);
}

.commonOption {
	cursor: pointer;
	display: flex;
	align-items: center;

	padding-right: var(--space-sm);

	height: 40px;
}

.option {
	white-space: pre;
	justify-content: flex-end;
	color: var(--color-variety-main);
	padding: 0 var(--space-md);
}

.option:hover {
	opacity: var(--opacity-selecting);
	background-color: var(--color-variety-main-tiny-shadow);
}

.option:active {
	opacity: var(--opacity-selected);
}

.groupOptions {
	left: 0;
	top: 0;
	min-width: 100%;
	position: absolute;
	background-color: var(--color-passive-pager);
	border-radius: var(--border-radius-standard);
	overflow: hidden;
}

.filledTitle {
	color: var(--color-active-main-shadow);
}

.simpleTitle {
	color: var(--color-variety-main-shadow);
}

.valueSelected {
	position: relative;
	display: flex;
	align-items: center;
	margin: 0 var(--space-sm) 0 var(--space-sm);
}

.left {
	left: calc(var(--space-md) * -1);
}

.right {
	right: calc(var(--space-md) * -1);
}

.arrow {
	position: absolute;
	top: 0;
	bottom: 0;

	display: flex;
	align-items: center;
	justify-content: center;
}

.optionElement {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: var(--space-xs);
}

.optionValue {
	margin-right: var(--space-xs);
}

.optionSecondaryValue {
	color: var(--color-variety-main-shadow);
}

.orange {
	color: var(--color-active-main);
}

.purple {
	color: var(--color-active-secundary);
}
