@import url('../../css/variables.css');

.container {
	cursor: pointer;
	border: solid 1px var(--color-variety-main-tiny-shadow);
	background-color: var(--color-passive-pager);
	border-radius: var(--border-radius-standard);
	padding: var(--space-xs);

	font-size: var(--font-size-xl);
	color: var(--color-active-secundary);

	display: flex;
	justify-content: center;
	align-items: center;

	min-width: 40px;
}

.group {
	border-bottom: solid 1px var(--color-twentinary);
}

.containerOption {
	cursor: pointer;
	display: flex;
	align-items: center;

	padding: var(--space-md);
	text-decoration: none;
}

.containerOption:hover {
	background-color: var(--color-variety-main-tiny-shadow);
	opacity: var(--opacity-selecting);
}

.containerOption:active {
	opacity: var(--opacity-selected);
}

.label {
	font-size: var(--font-size-md);
	color: var(--color-active-secundary);
	margin-left: var(--space-sm);
}

.menuContent {
	background-color: var(--color-passive-pager);
	border: solid 1px var(--color-variety-main-tiny-shadow);
	border-radius: var(--border-radius-standard);

	min-width: 300px;

	box-shadow: 0px 2px 4px 4px rgb(0 0 0 / 27%);

	width: 200px;

	padding-top: var(--space-md);
}
