@import url('../../css/variables.css');

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: grid;
  overflow: auto;
  grid-template-columns: minmax(225px, 350px) 110px 70px 165px 165px minmax(250px, 750px);
  gap: var(--space-sm);

  border-bottom: solid 1px var(--color-variety-main-tiny-shadow);
  padding: var(--space-md) 0;
}

.header {
  font-size: var(--font-size-xs);
  color: var(--color-variety-main-shadow);
}

.headerCell {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: var(--space-xs);
}

.headerCell:hover {
  opacity: var(--opacity-selecting);
}

.headerCell:active {
  opacity: var(--opacity-selected);
}

.arrow {
  font-size: var(--font-size-xxs);
}

@media screen and (max-width: 1205px) {
  .container {
    display: none;
  }
}