@import url('../../css/variables.css');

.container {
  display: flex;
  flex-direction: column;

  background-color: var(--color-passive-pager);
  border-radius: var(--border-radius-standard);
}

.row {
  display: grid;
  overflow: auto;
  grid-template-columns: minmax(150px, 350px) 85px 70px 125px 125px minmax(200px, 850px);
  gap: var(--space-sm);

  border-bottom: solid 1px var(--color-variety-main-tiny-shadow);
  padding: var(--space-md);
}

.header {
  font-size: var(--font-size-xs);
  color: var(--color-variety-main-shadow);
}

.headerCell {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: var(--space-xs);
}

.headerCell:hover {
  opacity: var(--opacity-selecting);
}

.headerCell:active {
  opacity: var(--opacity-selected);
}

.arrow {
  font-size: var(--font-size-xxs);
}

@media screen and (max-width: 975px) {
  .container {
    display: none;
  }
}