@import url('../../css/variables.css');

.container {
  border-radius: 14px;
  padding: var(--space-md);

  border: solid 1px var(--color-twentinary);
  background-color: var(--color-eightenary);
  color: var(--color-quinary);
}