@import url('../../css/variables.css');

.container {
	display: flex;
	flex-direction: column;
}

.containerBar {
	display: flex;

	height: 40px;
	width: 100%;

	border-bottom: solid 1px var(--color-variety-main-tiny-shadow);
	margin-bottom: var(--space-lg);
	overflow-x: auto;
}

.containerBar::-webkit-scrollbar {
	width: 0;
}

.tab {
	padding-right: var(--space-lg);
}
