@import url('../../css/variables.css');

.container {
  height: 100%;

  display: flex;
  gap: var(--space-lg);

  font-size: var(--font-size-lg);
}

.containerFirst {
  cursor: pointer;
  height: 100%;

  display: flex;
  align-items: center;

  border-bottom: solid 2px var(--color-quinary);
}

.containerFirst:hover {
  opacity: var(--opacity-selecting);
}

.containerFirst:active {
  opacity: var(--opacity-selected);
}

.containerSecond {
  height: 100%;

  display: flex;
  align-items: center;
}

.title {
  color: var(--color-quinary);
}