@import url('../../css/variables.css');

.container {
	display: flex;
	flex-direction: column;

	max-width: 1000px;
}

.containerBenefits {
	display: flex;
	flex-direction: column;
}

.title {
	font-size: var(--font-size-sm);
	color: var(--color-variety-main-shadow);
	margin-bottom: var(--space-xs);
}

.containerBenefitsValues {
	display: flex;
	justify-content: space-between;
	margin-top: var(--space-sm);
}

.group {
	display: flex;
}

.groupSecondary {
	display: flex;
	justify-content: space-between;
}

.line {
	border-bottom: solid 1px var(--color-variety-main-tiny-shadow);
	margin: var(--space-md) 0;
}

.value {
	font-size: var(--font-size-lg);
	color: var(--color-variety-main);
}

.groupValue {
	display: flex;
	flex-direction: column;
	margin-right: var(--space-lg);
}

.regards {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
