@import url('../../css/variables.css');

.container {
	display: flex;
	align-items: center;
}

.values {
	margin-left: var(--space-xs);
}

.containerName {
	font-size: var(--font-size-xxxs);
	display: flex;
	align-items: center;

	color: var(--color-variety-main-shadow);
}

.separator {
	margin: 0 var(--space-xxs);
}

.shortname {
	text-transform: uppercase;
}
