@import url('../../css/variables.css');

.container {
  font-family: var(--font-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: var(--font-size-xs);
  color: var(--color-variety-main-shadow);
  margin-bottom: var(--space-xxs);
}

.containerValue {
  flex: 1;
  font-size: var(--font-size-xxl);
  
  display: flex;
  align-items: center;
}

.value {
  color: var(--color-variety-main);
}

.sign {
  color: var(--color-variety-main-shadow);
  margin-right: var(--space-sm);
}