@import url('../../css/variables.css');

.smallFont {
	font-size: var(--font-size-xxs);
}

.mediumFont {
	font-size: var(--font-size-xl);
}

.largeFont {
	font-size: var(--font-size-xxl);
}

.container {
	display: flex;
	align-items: center;
}

.upstream {
	color: var(--color-variety-upstream);
}

.downstream {
	color: var(--color-variety-downstream);
}

.sign {
	margin-left: var(--space-xxs);
}
