@import url('../../css/variables.css');

.tab {
  text-decoration: none;
  cursor: pointer;
  font-size: var(--font-size-sm);
  color: var(--color-variety-main-shadow);
  height: 100%;
}

.tabActive {
  border-bottom: solid 2px var(--color-active-main);
}

.tab:hover {
  opacity: var(--opacity-selecting);
}

.tab:active {
  opacity: var(--opacity-selected);
}