@import '../../css/variables.css';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    background-color: var(--color-sixtenary);
    border-bottom: solid 2px var(--color-septenary);
    
    min-height: 85px;
    width: 100%;
    
    display: flex;
    justify-content: center;
    
    flex: 1;
}

.headerContent {
    min-height: inherit;
    max-width: 1715px;
    
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.firstGroup {
    display: flex;
    gap: var(--space-lg);
}

.secondGroup {
    display: flex;
    align-items: center;
}

.page {
    width: 100%;

    display: flex;
    max-width: 1715px;
}