@import '../../css/variables.css';

.container {
    max-width: 1715px;
}

.header {
    height: 85px;
    background-color: var(--color-sixtenary);
    border-bottom: solid 2px var(--color-septenary);
}