@import '../../css/variables.css';

.firstGroup {
    display: flex;
    gap: var(--space-lg);
}

.secondGroup {
    display: flex;
    align-items: center;
    gap: var(--space-lg);
}

@media screen and (max-width: 800px) {
    .headerPages {
        display: none;
    }
}