@import url('../../css/variables.css');

.container {
	position: relative;
	display: flex;
	flex-direction: column;
}

.header {
	background-color: var(--color-passive-pager);
	border-bottom: solid 2px var(--color-septenary);

	min-height: 85px;
	width: 100%;

	display: flex;
	justify-content: center;

	flex: 1;

	margin-bottom: var(--space-lg);
}

.contentHeader {
	min-height: inherit;
	max-width: 1715px;

	display: flex;
	justify-content: space-between;
	flex: 1;

	padding: 0 var(--space-xl);
}

.page {
	flex: 1;
	padding: 0 var(--space-xl);

	display: flex;
	justify-content: center;
}

.contentPage {
	width: 100%;

	display: flex;
	flex-direction: column;
	max-width: 1715px;
	box-sizing: border-box;
}
