@import url('../../css/variables.css');

.container {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
  padding-left: 35px;
}

.input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  border: solid 2px var(--color-tertiary);
  transform: rotate(45deg);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container .input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  width: 15px;
  height: 15px;
  background: var(--color-tertiary);
}