@import url('../../css/variables.css');

.container {
	display: flex;
	flex-direction: column;
}

.containerTitle {
	font-size: var(--font-size-lg);
	color: var(--color-variety-main);

	display: flex;
	align-items: flex-end;
}

.groupTitle {
	display: flex;
	justify-content: space-between;
	margin-bottom: var(--space-md);
}

.sign {
	font-size: var(--font-size-xs);
	transform: rotate(65deg);
	margin-right: var(--space-sm);
}
