@import url('../../css/variables.css');

.containerCards {
	display: flex;
	flex-wrap: wrap;
}

.space {
	margin: 0 var(--space-md) 0 0;
}

@media screen and (max-width: 900px) {
	.containerCards {
		flex-direction: column;
	}

	.space {
		margin: 0 0 var(--space-md) 0;
	}
}
