@import url('../../css/variables.css');

.container {
	margin-bottom: var(--space-lg);
}

.label {
	font-size: var(--font-size-md);
	color: var(--color-variety-main-shadow);
	margin-bottom: var(--space-sm);
}

.text {
	color: var(--color-variety-main-shadow);
}

.containerButton {
	display: flex;
}
