@import './variables.css';

html {
	background-color: var(--color-passive-main);
	overflow-y: scroll;
}

body {
	font-family: var(--font-primary);
	background: linear-gradient(to bottom, var(--color-passive-secundary), var(--color-passive-main));
	margin: 0;
	letter-spacing: 2px;
}

button {
	letter-spacing: 2px;
}
