@import url('../../css/variables.css');

.containerBenefits {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.titleBenefits {
  font-size: var(--font-size-sm);
  color: var(--color-variety-main-shadow);
}

.containerBenefitsValues {
  display: flex;
  justify-content: space-between;
}