@import url('../../css/variables.css');

.group {
	background-color: var(--color-primary);
	margin-bottom: var(--space-lg);
}

.groupTitle {
	color: var(--color-variety-main-shadow);
	font-size: var(--font-size-sm);
	letter-spacing: 3.7px;
	border-bottom: solid 1px var(--color-variety-main-tiny-shadow);
	padding: var(--space-lg) var(--space-xl);
}

.groupValues {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: var(--space-lg) var(--space-xl);
}

.valueTitle {
	color: var(--color-variety-main-shadow);
	font-size: var(--font-size-sm);
	letter-spacing: 3.7px;
	margin-top: var(--space-xxxs);
}

.assetsTableRow {
	display: grid;
	overflow: auto;
	grid-template-columns: minmax(175px, 350px) 135px 200px 135px;
	gap: var(--space-sm);

	padding: var(--space-md);
}

.headerTitle {
	color: var(--color-variety-main-shadow);
}
