@import url('../../css/variables.css');

.container {
	display: flex;
}

.mainGroup {
	flex: 3;
}

.secundaryGroup {
	flex: 2;
	margin-left: var(--space-lg);
}

.groupValues {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.valueTitle {
	color: var(--color-variety-main-shadow);
	font-size: var(--font-size-sm);
	letter-spacing: 3.7px;
	margin-top: var(--space-xxxs);
}

.assetsTable {
	width: 100%;
}

.assetsTableRow {
	display: grid;
	overflow: auto;
	grid-template-columns: minmax(175px, 200px) auto 125px 135px;
	justify-content: space-between;

	gap: var(--space-md);
	padding: var(--space-md) 0;
}

.headerTitle {
	color: var(--color-variety-main-shadow);
}

.movements {
	display: flex;
	flex-direction: column;
	padding-bottom: var(--space-lg);
}

.movement {
	display: flex;
	align-items: center;

	width: 100%;
	margin-bottom: var(--space-lg);
}

.movementImg {
	height: 42px;
	width: 42px;
	background-color: gray;
	border-radius: 100%;
	margin-right: var(--space-sm);
}

.movementData {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.movementGroupData {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: var(--color-variety-main-shadow);
}

.movementPriceUp {
	color: var(--color-variety-upstream);
}

.allMovements {
	color: var(--color-variety-main-shadow);
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: var(--space-lg) 0;
	border-top: solid 1px var(--color-variety-main-tiny-shadow);
	text-decoration: none;
}

.containerFeedback {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;

	color: var(--color-variety-main-shadow);
}

@media screen and (max-width: 1350px) {
	.container {
		flex-direction: column;
	}

	.secundaryGroup {
		margin-left: 0;
	}
}

@media screen and (max-width: 850px) {
	.groupValues {
		flex-direction: column;
		align-items: flex-start;
	}

	.value {
		margin-bottom: var(--space-lg);
	}
}
