@import url('../../css/variables.css');

.container {
	display: flex;
	flex-direction: column;
}

.title {
	color: var(--color-variety-main-shadow);
	font-size: var(--font-size-sm);
	margin: var(--space-xs) 0;
}
