@import url('../../css/variables.css');

.container {
	display: flex;
	flex-direction: column;
	gap: var(--space-xs);
}

.title {
	color: var(--color-variety-main-shadow);
	font-size: var(--font-size-sm);
}
