@import url('../../css/variables.css');

.link {
	text-decoration: none;
	outline: none;
	border: none;
	height: 45px;
	background-color: var(--color-passive-pager);
	border-radius: 25px;

	display: flex;
	align-items: center;
	justify-content: center;

	cursor: pointer;
}

.title {
	margin-left: var(--space-xxs);
	white-space: nowrap;
	font-size: var(--font-size-xxs);

	background: linear-gradient(
		to right,
		var(--color-active-main) 0%,
		var(--color-active-secundary) 100%
	);

	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	display: flex;
	align-items: center;
}

.dashboard {
	font-weight: bold;
	margin-left: var(--space-xxs);
}

.link:hover {
	opacity: var(--opacity-selecting);
}

.link:active {
	opacity: var(--opacity-selected);
}
