@import url('../../css/variables.css');

.container {
	font-size: var(--font-size-xs);

	display: flex;
	align-items: center;
}

.sign {
	color: var(--color-variety-main-shadow);
	margin-right: var(--space-xxs);
}

.value {
	color: var(--color-variety-main);
}
