@import url('../../css/variables.css');

.container {
  font-size: var(--font-size-xs);

  display: flex;
  align-items: center;
  gap: var(--space-xxs);
}

.sign {
  color: var(--color-variety-main-shadow);
}

.value {
  color: var(--color-variety-main);
}
