@import url('../../css/variables.css');

.container {
	display: flex;
	align-items: center;

	font-size: var(--font-size-xs);
	color: var(--color-active-main);
}

.sign {
	margin-left: var(--space-xxxs);
}
