@import url('../../css/variables.css');

.container {
	padding: var(--space-xxl) var(--space-xl);
	background-color: var(--color-passive-main);

	display: flex;
	align-items: center;
	justify-content: center;

	flex-direction: column;
	max-width: 400px;

	border-radius: 5px;
}

.title {
	font-size: var(--font-size-lg);
	color: var(--color-variety-main);

	margin: var(--space-lg) 0;
}

.containerMessage {
	background-color: var(--color-variety-main);
	padding: var(--space-md) var(--space-lg);
	color: var(--color-passive-pager);

	display: flex;
	align-items: center;
	justify-content: center;

	text-align: center;
	border-radius: 5px;
}
