@import url('../../css/variables.css');

.container {
	cursor: pointer;
	padding: var(--space-md);
	display: flex;
	align-items: center;
}

.id {
	color: var(--color-variety-main);
	font-size: var(--font-size-xs);
	text-transform: uppercase;
}

.name {
	color: var(--color-variety-main);
	font-size: var(--font-size-xs);
}

.separator {
	color: var(--color-variety-main);
	font-size: var(--font-size-xs);
	margin: 0 var(--space-xxs);
}

.details {
	display: flex;
	margin-left: var(--space-md);
}

.container:hover {
	opacity: var(--opacity-selecting);
}

.container:active {
	opacity: var(--opacity-selected);
}
