@import url('../../css/variables.css');

.movement {
	display: flex;
	align-items: center;

	width: 100%;
	margin-bottom: var(--space-md);
}

.movementImg {
	height: 42px;
	width: 42px;
	background-color: gray;
	border-radius: 100%;
	margin-right: var(--space-sm);
}

.movementData {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.movementGroupData {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: var(--color-variety-main-shadow);
}

.movementPriceUp {
	color: var(--color-variety-upstream);
}

.coin {
	margin-left: var(--space-xs);
}

.price {
	display: flex;
	align-items: center;
}
