@import url('../../css/variables.css');

.movement {
	display: flex;
	align-items: flex-start;

	width: 100%;
}

.movementImg {
	height: 42px;
	width: 42px;
	border-radius: 100%;
	border: solid 1px var(--color-variety-main-tiny-shadow);

	display: flex;
	align-items: center;
	justify-content: center;
}

.movementData {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.movementGroupData {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	color: var(--color-variety-main-shadow);
	margin-bottom: var(--space-xs);
}

.movementGroupDataBelow {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	color: var(--color-variety-main-shadow);
	margin-top: var(--space-xxs);
}

.movementPriceUp {
	color: var(--color-variety-upstream);
}

.movementPriceDown {
	color: var(--color-variety-downstream);
}

.coin {
	margin-left: var(--space-xs);
}

.price {
	display: flex;
	align-items: center;
}

.secondRow {
	font-size: var(--font-size-xxs);
}
