@import url('../../css/variables.css');

.container {
	min-height: 100vh;
	color: var(--color-sextary);

	display: flex;
	flex-direction: column;
}

.row {
	display: flex;
	flex: 1;
}

.mainRow {
	display: flex;
}

.mainChild {
	position: relative;
	max-width: 950px;
	min-height: 600px;

	flex-grow: 2;
	flex-shrink: 2;

	width: 100%;

	display: flex;
}

.lateralSideChild {
	position: relative;
	flex-grow: 1;
	flex-shrink: 1;
}

.verticalSideChild {
	position: relative;
	max-width: 950px;

	flex-grow: 2;
	flex-shrink: 2;

	width: 100%;
	display: flex;
}

.containerLogo {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1;
}

.containerForm {
	position: relative;
	flex: 1;

	display: flex;
	align-items: center;
	justify-content: center;
}

.verticalChilds {
	flex: 1;
	position: relative;
}

.verticalChildTopRight {
	position: relative;
}

.gradientTop {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 1px;
	background: linear-gradient(to top, var(--color-septary) 0%, var(--color-primary) 100%);
}

.gradientBottom {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 1px;
	background: linear-gradient(to bottom, var(--color-septary) 0%, var(--color-primary) 100%);
}

.gradientLeft {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 1px;
	background: linear-gradient(to left, var(--color-septary) 0%, var(--color-primary) 25%);
}

.gradientRight {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 1px;
	background: linear-gradient(to right, var(--color-septary) 0%, var(--color-primary) 100%);
}

.lineBottom {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 1px;
	background: var(--color-septary);
}

.lineHorizontal {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 1px;
	background: var(--color-septary);
}

@media screen and (max-width: 950px) {
	.mainChild {
		flex-direction: column;
	}

	.leftChildBorder,
	.rightChildBorder,
	.bottomChildBorder,
	.topChildBorder,
	.verticalChildBottomRight,
	.verticalChildTopRight,
	.containerForm,
	.mainChild {
		border: none;
	}

	.containerLogo {
		min-height: 150px;
	}
}
